html
  include ./head.pug
  body
    include ./navbar.pug
    main
      section.container.my-5
        ul.list-unstyled
          - for (let i = 0; i < arr.length; i++)
            li= arr[i].name
            .card.text-white.bg-danger.mb-3(style='max-width: 18rem;')
              .card-header Headersss
                h5.card-title= arr[i].tittle
              .card-body
                p.card-text= arr[i].text