extends template.pug

block content
  main.container.my-5
    section.text-center 
      h1 Access is closed on the #[span.text-info #{namePage}]. 
      p You didn't sign in your profile. Please #[a(href="/").text-reset sign in] your profile.
