html
  include ./head.pug
  body.background-linear-gradient
    include ./navbar.pug
    main.container.my-5
      section
        .col-6
          h1 РЕГИСТ
        .col-6 
          form(action="/signUpUser", method="post") 
            .mb-3
              label.form-label(for='labelUserName') Your username
              input#labelUserName.form-control(type='text' name="userName")
            .mb-3
              label.form-label(for='labelUserPassword') Password
              input#labelUserPassword.form-control(type='password' name="userPassword")
            //- .mb-3.form-check
              input#exampleCheck1.form-check-input(type='checkbox')
              label.form-check-label(for='exampleCheck1') Check me out
            button.btn.btn-primary(type='submit') Submit





    include ./endBody.pug